@keyframes myfirst {
  0% {
    left: 0px;
    top: 0px;
  }
  50% {
    left: 0px;
    top: 30px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.dot1 {
  height: 25px;
  width: 25px;
  background-color: blue;
  border-radius: 50%;
  position: relative;
  display: block;
  animation: myfirst 3s linear infinite alternate;
}

.dot2 {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: block;
  animation: myfirst 2s linear infinite alternate;

}

.dot3 {
  height: 25px;
  width: 25px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}

.dot4 {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.row-animation {
  height: 100vh;
  text-align: center;
}

.col {
  align-self: center;
  text-align: center;
}
